<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>myPCHR</title>
<link href="style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="main">

<!-- Menu atas -->
<div id="header">
		<h1> myPCHR
		</h1>
	</div>
    
<!-- Menu atas -->
<div id="nav">
    <ul>
       		<li><a href="logout.html">Home</a></li>
           <li><a href="about-us.html">About the myPCHR</a></li>
           <li><a href="contact-us.html">Contact Us</a></li>
      		<li><a href="news.html">News</a></li>
           <li><a href="https://docs.google.com/forms/d/1LUDo1s9KJd-jICmFVwTLxLFy9J4qDTK9bXosfH9sMYY/viewform?usp=send_form">Questionnaire</a></li>
                      
  		</ul>
    </div>
    

<div class="note-left"></div>
<div class="note-center">
	<section>
    <h2 style="font-size: 18px">Malaysia Personal Child Record
    </h2>
    <p> Malaysia Personal Child Record (myPCHR) adalah sebuah sistem yang dapat menyimpan informasi kesehatan anak-anak. Sistem ini dapat membantu orang tua dalam menjaga kesehatan anak yang mereka miliki. Keunggulan sistem ini adalah dapat mengingatkan jadwal imunisasi dan pertemuan dengan dokter, sehinggan memudahkan orang tua dalam menjaga kesehatan anak. Sistem ini dihasilkan dari penelitian yang telah dilakukan oleh peneliti, dimana peneliti melakukan pertemuan dengan orang tua dan dokter untuk mengetahui isi yang harus ada di dalam sistem myPCHR. Peneliti mengharapkan sistem myPCHR dalam membantu orang tua yang ada di Malaysia untuk menjaga kesehatan anak yang di miliki.
    </p>
	</section>
    </div>
<div class="note-right">
    </div>
<div class="clear">
    </div> 
    
    
<div id="word-left">
</div>

<div id="word-center">
</div>

<div id="word-right">
</div>
    
<div class="clear">
    </div>
    
<div id="footer">
    <p>Copyright © 2015 www.phrforchildren.com, All right Reserved</p>
<p>Fakuty of Information Science & Technology, The National University of Malaysia</p>
<p>43600, Bangi Selangor, MALAYSIA.</p>
</div>
</div>
</body>
</html>
