<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>myPCHR</title>
<link href="style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="main">

<!-- Menu atas -->
<div id="header">
		<h1> myPCHR
		</h1>
	</div>
    
<!-- Menu atas -->
<div id="nav">
    <ul>
       		<li><a href="logout.html">Home</a></li>
           <li><a href="about-us.html">About the myPCHR</a></li>
           <li><a href="contact-us.html">Contact Us</a></li>
      		<li><a href="news.html">News</a></li>
           <li><a href="https://docs.google.com/forms/d/1LUDo1s9KJd-jICmFVwTLxLFy9J4qDTK9bXosfH9sMYY/viewform?usp=send_form">Questionnaire</a></li>
                      
  		</ul>
    </div>
    

<div class="note-left"></div>
<div class="note-center">
	<section>
    <h2 style="font-size: 18px">News
    <ul>
    <article>
    <h3 style="font-size: 14px">News about myPCHR</h3>
    </article>
	</section>
</div>

<div class="note-right">
    </div>
<div class="clear">
    </div> 
    
    
<div id="word-left">
</div>

<div id="word-center">
</div>

<div id="word-right">
</div>
    
<div class="clear">
    </div> 
    
<div id="footer">
    <p>Copyright © 2015 www.phrforchildren.com, All right Reserved</p>
<p>Fakuty of Information Science & Technology, The National University of Malaysia</p>
<p>43600, Bangi Selangor, MALAYSIA.</p>
</div>
</div>
</body>
</html>
